In [2]:
import pandas as pd
import numpy as np

In [12]:
# load the wiki data
path = "E:\\PycharmProject\\ada_project\\data\\speaker_attributes.parquet"
wiki_data = pd.read_parquet(path, engine='pyarrow')
wiki_data

,aliases,date_of_birth,nationality,gender,lastrevid,ethnic_group,US_congress_bio_ID,occupation,party,academic_degree,id,label,candidacy,type,religion
0,"[Washington, President Washington, G. Washingt...",[+1732-02-22T00:00:00Z],"[Q161885, Q30]",[Q6581097],1395141751,None,W000178,"[Q82955, Q189290, Q131512, Q1734662, Q294126, ...",[Q327591],None,Q23,George Washington,"[Q698073, Q697949]",item,[Q682443]
1,"[Douglas Noel Adams, Douglas Noël Adams, Dougl...",[+1952-03-11T00:00:00Z],[Q145],[Q6581097],1395737157,[Q7994501],None,"[Q214917, Q28389, Q6625963, Q4853732, Q1884422...",None,None,Q42,Douglas Adams,None,item,None
2,"[Paul Marie Ghislain Otlet, Paul Marie Otlet]",[+1868-08-23T00:00:00Z],[Q31],[Q6581097],1380367296,None,None,"[Q36180, Q40348, Q182436, Q1265807, Q205375, Q...",None,None,Q1868,Paul Otlet,None,item,None
3,"[George Walker Bush, Bush Jr., Dubya, GWB, Bus...",[+1946-07-06T00:00:00Z],[Q30],[Q6581097],1395142029,None,None,"[Q82955, Q15982858, Q18814623, Q1028181, Q1408...",[Q29468],None,Q207,George W. Bush,"[Q327959, Q464075, Q3586276, Q4450587]",item,"[Q329646, Q682443, Q33203]"
4,"[Velázquez, Diego Rodríguez de Silva y Velázqu...",[+1599-06-06T00:00:00Z],[Q29],[Q6581097],1391704596,None,None,[Q1028181],None,None,Q297,Diego Velázquez,None,item,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9055976,[Barker Howard],None,[Q30],[Q6581097],1397399351,None,None,[Q82955],None,None,Q106406560,Barker B. Howard,None,item,None
9055977,[Charles Macomber],None,[Q30],[Q6581097],1397399471,None,None,[Q82955],None,None,Q106406571,Charles H. Macomber,None,item,None
9055978,None,[+1848-04-01T00:00:00Z],None,[Q6581072],1397399751,None,None,None,None,None,Q106406588,Dina David,None,item,None
9055979,None,[+1899-03-18T00:00:00Z],None,[Q6581072],1397399799,None,None,None,None,None,Q106406593,Irma Dexinger,None,item,None
9055980,[Fred Trull],None,[Q30],[Q6581097],1397400809,None,None,[Q82955],None,None,Q106406643,Fred F. Trull,None,item,None

In [45]:
# extract the first elements in a column which may contains multiple values for each row.
wiki_data.party = wiki_data.party.apply(lambda x: list(x)[0] if x is not None and x is not np.nan else x) 
wiki_data.nationality = wiki_data.nationality.apply(lambda x: list(x)[0] if x is not None and x is not np.nan else x) 
wiki_data.gender = wiki_data.gender.apply(lambda x: list(x)[0] if x is not None and x is not np.nan else x)

In [6]:
# load labels descriptions data
path = "E:\\PycharmProject\\ada_project\\data\\wikidata_labels_descriptions.csv.bz2"
data = pd.read_csv(path, index_col='QID', usecols=[0, 1])
data.dropna(inplace=True)
data

                            Label
QID
Q31                       Belgium
Q8                      happiness
Q23             George Washington
Q24                    Jack Bauer
Q42                 Douglas Adams
...                           ...
Q106406593          Irma Dexinger
Q106406600  Coris argenteostriata
Q106406616                    NaN
Q106406643          Fred F. Trull
Q106406647                    NaN

[92845813 rows x 1 columns]

In [30]:
# map gender QID to real value genders
gender_mapper = data.loc[gender_freq.index]
gender_mapper.to_csv('gender_mapper.csv') # save the file for further mapping.
gender_mapper

                         Label
Q6581097                  male
Q6581072                female
Q1052281    transgender female
Q48270              non-binary
Q2449503      transgender male
Q179294                 eunuch
Q1097630              intersex
Q18116794          genderfluid
Q12964198          genderqueer
Q44148           male organism
Q189125     transgender person
Q15145779     cisgender female
Q301702             two-spirit
Q15145778       cisgender male
Q505371                agender
Q52261234          neutral sex
Q859614               bigender
Q43445         female organism
Q27679684        transfeminine
Q27679766       transmasculine
Q96000630             X-gender
Q1775415              feminine
Q3177577                  muxe
Q48279            third gender
Q7130936             pangender
Q207959              androgyny
Q1984232               shemale
Q746411                kathoey
Q6636            homosexuality
Q106299064               Erkek
Q93954933              demiboy
Q1289754              neutrois

In [37]:
# map party QID to real value parties
party_mapper = data.loc[data.index.intersection(party_freq.index)]
party_mapper.to_csv('party_mapper.csv')  # save the file for further mapping.
party_mapper

                                                      Label
Q7320              National Socialist German Workers' Party
Q47750                                            Lega Nord
Q49629                                     Action Française
Q49763                    Christian Social Union of Bavaria
Q79854                  Communist Party of the Soviet Union
...                                                     ...
Q2867848                  New Brunswick Liberal Association
Q2868020  Progressive Conservative Association of Nova S...
Q3052430                                 Regionalist League
Q4207219                                       Nasdem Party
Q5020399                        California Democratic Party

[488 rows x 1 columns]

In [47]:
# map nationality QID to real value nationalities
nationality_mapper = data.loc[data.index.intersection(nationality_freq.index)]
nationality_mapper.to_csv('nationality_mapper.csv') # save the file for further mapping.
nationality_mapper

                                Label
Q31                           Belgium
Q45                          Portugal
Q148       People's Republic of China
Q155                           Brazil
Q183                          Germany
...                               ...
Q69978764                      Sverge
Q73330139                      Verdis
Q75483187          Colonial Australia
Q96758743              Youssef Gharbi
Q98745326                    Bulgaria

[2624 rows x 1 columns]